In [1]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
import pandas as pd
df = pd.DataFrame([{'a': 1, 'b': 2, 'c': 3}
                   ,{'a': 10, 'b': 20, 'c': 30}
                   ,{'a': 100, 'b': 200, 'c': 300}])
df

     a    b    c
0    1    2    3
1   10   20   30
2  100  200  300

In [11]:
df.iloc[:,8:]

Empty DataFrame
Columns: []
Index: [0, 1, 2]

In [3]:
cols = list(df.columns)
cols

['a', 'b', 'c']

In [16]:
import numpy as np
np.array([1,0,1])*np.array([1,0,0])

array([1, 0, 0])

In [18]:
[1]*9

[1, 1, 1, 1, 1, 1, 1, 1, 1]

In [22]:
from sys import getsizeof
a = [1]*100
getsizeof(a)

856

In [23]:
b=[True]*100
getsizeof(b)

856

In [11]:
from bitarray import bitarray
from sys import getsizeof
c = bitarray(100)
c.setall(1)
getsizeof(c)

93

In [12]:
c[0] = 0
c

bitarray('0111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111')

In [13]:
c.invert()
c

bitarray('1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000')

In [9]:
from bitarray import bitarray
from bitarray import util as bautil
d = bautil.int2ba(10)
d

bitarray('1010')

In [3]:
from scipy.special import comb
n_train_sets = 1
n = 10000
for k in range(1, n):
    n_train_sets += comb(n, k, exact=False)
print('Nº training possible features subsets:', n_train_sets)

Nº training possible features subsets: inf